<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
        bootstrap="./bootstrap.php"
        beStrictAboutOutputDuringTests="true"
        cacheResult="true"
        cacheResultFile="tmp/.phpunit.result.cache"
        >
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
